**.split/
*.gz
*.tar
*.tar.gz

./cargo/nlr/fna/blastdb/**
./cargo/nlr/faa/blastdb/**
./cargo/fre/fna/blastdb/**
./cargo/fre/faa/blastdb/**
./cargo/plp/fna/blastdb/**
./cargo/plp/faa/blastdb/**
./cargo/duf3723/fna/blastdb/**
./cargo/duf3723/faa/blastdb/**
./captain/tyr/fna/blastdb/**
./captain/tyr/faa/blastdb/**
./ships/fna/blastdb/**
./ships/fna/blastdb/concatenated.fa
./captain/tyr/fna/tree/**
./captain/tyr/faa/tree/**
./captain/tyr/fna/alignments/**
./captain/tyr/faa/alignments/**

metadata/ships/starfish/gff/**

SQL/**
MTDB/**
Starships/metadata/ships/*.csv
